//====================================================================================================
.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	@include adaptiveValue("padding-bottom", 40, 20, 1370, 320);
	@include adaptiveValue("padding-top", 40, 20, 1370, 320);

	&__container {
		display: flex;
		column-gap: 16px;


		@media (max-width: 768px) {
			flex-wrap: wrap;
			column-gap: 0;

		}
	}

	&__main {
		flex: 0 1 34.38%;
		margin-bottom: 20px;



		@media (max-width: 768px) {
			order: 1;
			flex: 0 1 100%;
			column-gap: 10px;
			display: flex;
			align-items: center;
			margin-bottom: 20px;

		}
	}

	&__logo {
		margin-bottom: 15px;

		@media (max-width: 768px) {
			margin-bottom: 0;
		}


		// @media (max-width: 425px) {
		//transform: scale(0.8);
		// }
	}

	&__social {
		display: flex;
		column-gap: 10px;
	}

	&__navigation {
		flex: 0 1 13.69%;
		font-size: 17px;
		line-height: 27px;

		@media (max-width: 768px) {
			order: 3;
			flex: 0 1 50%;

		}
	}
}

.other-footer {
	flex: 0 1 13.69%;
	font-size: 17px;
	line-height: 27px;

	@media (max-width: 768px) {
		order: 4;
		flex: 0 1 50%;
	}

	&__list {}

	&__link {}
}

.stations-footer {
	display: flex;
	column-gap: 17px;

	@media (max-width: 768px) {
		order: 2;
		flex: 0 1 100%;
		margin-bottom: 20px;

	}

	@media (max-width: 320px) {
		justify-content: space-between;
	}
}


[class*="link"] {
	&:hover {
		color: #118DA8;
		transition: all 0.4s ease 0s;
	}
}

//====================================================================================================