.review {
	//padding-top: 100px;
	//padding-bottom: 100px;

	@include adaptiveValue("padding-top", 40, 20, 1370, 320);
	@include adaptiveValue("padding-bottom", 40, 20, 1370, 320);

	&__container {}

	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 16px;
		margin: 0px -8px 0px -8px;
	}

	&__item {
		flex: 0 1 33.333%;
		padding: 0px 8px 0px 8px;
		display: flex;

		@media (max-width: 1024px) {
			flex: 1 0 50%;
		}

		@media (max-width: 768px) {
			flex: 1 0 100%;
		}

	}

	&__card {
		display: flex;
		flex-direction: column;
		padding: 50px;
		background-color: #111;
		border-radius: 32px;
		min-width: 100%;

		@include adaptiveValue("padding", 50, 20, 1370, 320);
		@include adaptiveValue("border-radius", 32, 16, 1370, 320);

	}

	&__stars {
		margin-bottom: 21px;
		@include adaptiveValue("margin-bottom", 21, 10, 1370, 320);
	}

	&__star {}

	&__text {
		font-size: 36px;
		line-height: 43px;
		margin-bottom: 19px;
		@include adaptiveValue("font-size", 36, 20, 1370, 320);
		@include adaptiveValue("line-height", 43, 24, 1370, 320);
		@include adaptiveValue("margin-bottom", 19, 6, 1370, 320);
	}

	&__author {
		font-size: 24px;
		line-height: 29px;
		color: rgba(255, 255, 255, 0.7);

		@include adaptiveValue("font-size", 24, 14, 1370, 320);
	}
}